@media only screen and (max-width: 768px) {
  .banner small,
  .loan-text,
  .internship-text,
  .interest-text {
    font-size: 17px;
  }

  .row > .third-card,
  .row > .last-card {
    margin-top: 30px;
  }

  /* How it works */
  .card-body-container > p {
    text-align: center;
  }

  /* Loan */

  .loan > .loan-text-container,
  .interest > .interest-text-container {
    padding-right: 30%;
  }

  .create-acct {
    justify-content: center;
    width: 90%;
    overflow: hidden;
  }

  /* intership */

  .internship {
    padding-left: 2%;
  }

  .internship-text-container {
    padding-right: 10%;
  }

  /* Footer */
  .footer-container {
    padding: 20% 0 45px 0;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .package-card-body > .hr-3 {
    margin-top: 11.5rem;
  }

  .create-acct {
    justify-content: center;
    width: 90%;
  }
}

@media only screen and (max-width: 540px) {
  .banner h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px 80px 30px 0px;
  }

  .loan > .loan-text-container {
    padding-right: 10%;
  }

  /*Interest  */

  .interest > h1 {
    margin: 0px 30px 30px 0px;
  }

  .interest > .interest-text-container {
    padding-right: 10%;
  }

  .create-acct {
    justify-content: center;
    width: 95%;
  }

  /* Footer */

  .footer-container {
    padding: 40% 0px 45px 0px;
    overflow: hidden;
  }

  .footer-texts {
    padding: 40px 10% 20px 0px;
  }

  .footer-icons {
    margin-bottom: 6%;
  }

  .footer-aside2 {
    padding-top: 1%;
  }
}

@media only screen and (max-width: 414px) {
  .banner h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px 10px 30px 0px;
  }

  .loan > .loan-text-container {
    padding-right: 10%;
  }

  /* Internship */

  .internship {
    padding-left: 5%;
  }

  .internship-text-container {
    padding-right: 10%;
  }

  /*  */

  .interest > h1 {
    margin: 0px 50px 30px 0px;
  }

  .interest > .interest-text-container {
    padding-right: 10%;
  }

  .create-acct {
    justify-content: center;
    width: 93%;
  }

  /* Footer */

  .footer-container {
    padding: 50% 0px 45px 0px;
  }

  .footer-texts {
    padding: 40px 10% 20px 0px;
  }

  .footer-icons {
    margin-bottom: 6%;
  }

  .footer-aside2 {
    padding-top: 1%;
  }
}

@media only screen and (max-width: 360px) {
  .banner h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px 80px 30px 0px;
  }

  .loan > .loan-text-container {
    padding-right: 10%;
  }

  /*  */

  .internship {
    padding-left: 5%;
  }

  .internship-text-container {
    padding-right: 10%;
  }

  /*  */

  .interest > h1 {
    margin: 0px 50px 30px 0px;
  }

  .interest > .interest-text-container {
    padding-right: 10%;
  }

  .create-acct {
    justify-content: center;
    width: 93%;
  }

  /* Footer */

  .footer-container {
    padding: 50% 0px 45px 0px;
  }

  .footer-texts {
    padding: 40px 10% 20px 0px;
  }

  .footer-icons {
    margin-bottom: 6%;
  }

  .footer-aside2 {
    padding-top: 1%;
  }
}

@media only screen and (max-width: 280px) {
  .banner h1 {
    font-size: 35px;
  }

  .package-card-body {
    padding: 30px 40px 20px 40px;
    text-align: center;
  }
  .footer-container {
    padding: 80% 0px 45px 0px;
  }

  .create-acct {
    justify-content: center;
    padding: 50px 0px 4% 7%;
    width: 89%;
  }
}
